.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.item-component {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 80px;
}
.image {
  height: 50px;
  width: 80px;
}
.email-div {
  width: auto;
  display: inline-block;
  padding: 2px;
}
.password-div {
  text-align: right;
  padding: 2px;
}
.user-component {
  background-color: #f1f1f1;
  border: black solid 1px;
  margin: 30px;
  padding: 10px;
  height: 100px;
  width: 270px;
  text-align: right;
}
.login-page {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
